html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 14px;
  padding: 30px 0 50px;
  font-family: 'Lato', sans-serif;
}

code {
  font-family: 'Ubuntu Mono', monospace !important;
  font-size: 16px !important;
}

.content {
  font-family: 'Roboto Slab',serif;
  font-weight: 300;
  line-height: 1.4;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}

.posts {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.post-date {
  color: #555;
  font-size: 12px;
  margin-right: 10px;
}

.header {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 20px;
}

.title {
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 2px 0px #ff9000;
}

.g {
  color: #165E00;
}

.y {
  color: #FFDD00;
}

.d {
  color: #000;
}

.r {
  color: #FF0000;
}

.link {
  text-transform: lowercase;
  font-size: 18px;
}

.links a {
  color: #222;
}

.links {
  font-size: 1.8em;
}

.box {
  margin: 0 auto !important;
  text-align: center;
  padding-top: 30px;
}

a {
  color: steelblue;
}

a:hover {
  color: #2c3e50;
}

pre, code, .hljs {
  border: none !important;
  background: #f7f7f7 !important;
}
