html {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 30px 0 50px;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
  color: #222;
}

code {
  font-family: 'Ubuntu Mono', monospace !important;
  font-size: 16px !important;
}

.content {
  margin: 0 auto;
  max-width: 750px;
  padding-left: 15px;
  padding-right: 15px;
  word-wrap: break-word;
}

.main {
  margin-top: 30px;
}

.posts {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.post-date {
  color: #555;
  margin-right: 10px;
}

.header {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 20px;
}

.title {
  font-weight: 400;
  text-transform: uppercase;
}

.link {
  text-transform: lowercase;
  text-align: right;
}

.links a {
  color: #222;
  text-decoration: none;
}

.box {
  text-align: center;
  padding-top: 30px;
}

a {
  color: #2980b9;
}

a:hover {
  color: #3498db;
}

.list-inline {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.list-inline li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

pre, code, .hljs {
  border: none !important;
  background: #f7f7f7 !important;
}

.spacer {
  padding: 30px;
}
