---
layout: default
title:  KIBU
---
<h3>Posts</h3>
<ul class="posts">
  {% for post in site.posts %}
    <li>
      <span class="post-date">{{ post.date | date: "%b %-d, %Y" }} &#9867; </span>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<h3>Open Source</h3>
<ul class="posts">
  {% for project in site.data.projects %}
    <li><a href="{{ project.repo }}">{{ project.title }}</a></li>
  {% endfor %}
</ul>

<h3>Current work</h3>
<ul class="posts">
  <li><a href="https://maestrodatabase.com">MAESTrO Database</a></li>
</ul>
